td, th{
    border:3px solid rgb(0, 44, 85);
    padding:5px 10px;
    background-color: #4f7c82;
    font-size: 12px;
    color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #93b1b5;
    color: #0b2e33;
    background-image: url(images/Lorem.avif);
    background-size: cover;
}

img{
    padding: 5px 10px;
    border: 3px;
    width: 300px;
    height: 300px;
}