:root {
  --black: #000000;
  --yellow: #ffff00;
  --red: #b30000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#website {
  width: 100%;
}

/*Header*/
#topbar {
  background-color: var(--black);
  color: var(--yellow);
  padding: 18px 20px 0 20px;
  text-align: center;
  width: 100%;
}

#HomeT {
  color: var(--yellow);
  text-decoration: none;
}

#topbar h1 {
  font-size: 34px;
  margin-bottom: 10px;
  font-weight: bold;
}

#topnav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 0 14px 0;
}

#topnav a {
  color: var(--yellow);
  text-decoration: none;
  font-weight: bold;
}

/*Arrow*/
#desktopArrow {
  display: none;
  position: fixed;
  top: 95px;
  left: 10px;
  background: var(--black);
  color: var(--yellow);
  border: none;
  padding: 8px 12px;
  font-size: 22px;
  cursor: pointer;
  z-index: 3000;
}

/*Page Layout*/
#pagelayout {
  padding: 0;             
  margin: 0;
}

/*Sidebar*/
#sidebar {
  background: var(--red);
  color: var(--yellow);
  padding: 20px;
  margin: 0;              
  transition: width 0.3s ease;
}

#sidebar h2 {
  margin: 18px 0 10px;
}

#sidebar ul {
  list-style: none;
}

#sidebar li {
  margin-bottom: 8px;
}

#sidebar a {
  color: var(--yellow);
  text-decoration: none;
  font-weight: bold;
}

/*Main content*/
#maincontent {
  background: var(--yellow);
  padding: 20px 40px;  
}

/* LOGIN */
#login {
  text-align: right;
  font-weight: bold;
  margin-bottom: 20px;
}

#login a {
  color: var(--black);
  text-decoration: none;
}

/*Devlogs*/
#devlogsTitle {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
}

#sortBar {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.sortOption {
  cursor: pointer;
}

#devlogsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.devlogBox {
  background: var(--red);
  color: var(--yellow);
  width: 300px;
  padding: 25px;
  text-align: center;
  font-weight: bold;
}

/*Images*/
img {
  width: 100%;
  height: 200px;          
  object-fit: cover;      
  display: block;
}

.devlogBox h3 {
  margin-bottom: 10px;
}


#sidebarToggle {
  display: none;
  width: 100%;
  background: var(--black);
  color: var(--yellow);
  border: none;
  padding: 12px;
}

/*Smaller screens*/
@media (max-width: 767px) {
  #sidebarToggle { display: block; }

  #sidebar { display: none; }

  #sidebar.show { display: block; }

  #devlogsGrid {
    flex-direction: column;
    align-items: center;
  }
}

/*Desktop*/
@media (min-width: 768px) {

  #pagelayout {
    display: flex;
  }

  #sidebar {
    width: 260px;
    min-height: calc(100vh - 100px);
  }

  #sidebar.closed {
    width: 0;
    overflow: hidden;
    padding: 0;
  }

  #maincontent {
    flex: 1;
  }

  #desktopArrow {
    display: block;
  }
}