/*Structure*/

head{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 79, 207);
}

#content{
    background-color: rgb(0, 200, 255);
    width:70%;
    padding:2%;
    border-radius: 5px;
}

/*Headers*/
h1{
color: white;
}
h2{
color: white;
}

/*Paragraphs*/
#p1{
    color: white;
}

/*Links*/
#li1{
    color: white;

}

#li2{
    color: white;
}

#l1{
    color: white;
    text-decoration: none;
}

#l2{
    color: white;
    text-decoration: none;
}