/*Structure*/

head{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(images/Wallpaper.jpg);
    background-size: cover;
}

#content{
    background-color: rgb(0, 200, 255);
    width:95%;
    padding:2%;
    border-radius: 5px;
    margin: auto;
}

/*Main Navigation*/
#main-nav ol{
    list-style-type: none;
}

/*Headers*/
h1{
color: white;
text-align: center;
}
h2{
color: white;
text-align: center;
}

/*Paragraphs*/
#p1{
    color: white;
}

/*Links*/

/*Images*/
#web1{
    width: 300px;
    height: 150px;
    padding: 5px;
    display: block;
}

#web2{
    width: 300px;
    height: 150px;
    padding: 5px;
    display: block;
}

/*Main Navigation*/
#main-nav a{
    text-decoration: none;
    padding: 10px 5px;
    color: white;
    display: block;
}
#main-nav{
    color: white;
}
#main-nav ol{
    padding-left: 0;
}


#as1d{
    background-color: blue;
}

#as2d{
    background-color: blue;
}


@media only screen and (min-width: 768px){
    .columns{
        display: flex;
        gap: 30px;
        padding: 0;
        
        }

        #content{
            width: 70%;
        }
        /*For the lines to separate*/
       #main-nav li{
        background-color: blue;
        padding: 15px;
        width: 300px;
        text-align: left;
        border-radius: 5px;
       }
}