head{
    text-decoration-color: azure;
}
body{
    background-color: black;
    text-decoration-color: azure;
    
}
h1{
    color: white;
}
h2{
    color: white;
}

ol{
    color: white;
}

a{
    color: white;
}

p{
    color: white;
}