#content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width:95%;
    padding:2%;
    border-radius: 5px;
    margin: auto;
    
}
/*Head */
head{
    text-decoration-color: azure;
}

/* Body */
body{
    background-color: black;
    text-decoration-color: azure;
    background-image: url(images/blacknwhite.webp);
    background-size: cover;
    padding: 2%;
}


/*Headers*/
.headers{
    color: black;
    text-align: center;
}

.assignmentlist{
    color: white;
    padding: 5px;
    background: black;
    margin: auto;
    display: flex;
}

.assignments{
    flex: 1;
    padding: 5px;
}

.description{
    color: black;
}

/*Links*/
a{
    text-decoration: none;
    font-weight: bold;
}
#github{
    color: black;
}

.assignmentlist li a{
    color: white;
}


/*Images*/
img {
    width: 200px;
    height: 200px;
    padding: 5px;
    background: white;
}
