#content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width:95%;
    padding:2%;
    border-radius: 5px;
    margin: auto;
    
}
/*Head */
head{
    text-decoration-color: azure;
}

/* Body */
body{
    background-color: black;
    text-decoration-color: azure;
    background-image: url(images/blacknwhite.webp);
    background-size: cover;
    padding: 2%;
}

.description{
    color: black;
}

/*Headers*/
.headers{
    color: black;
    text-align: center;
}

/*Assignments*/
.assignmentlist{
    color: white;
    padding: 5px;
    background: black;
    margin: auto;
    display: flex;
    gap: 20px;
}

.assignments{
    flex: 1;
    padding: 2%;
    text-align: center;
    background: white;
    color: black;
    border: black;
}

.assignments li{
    padding: 10px;
}

.assignmentlist li a{
    color: black;
}



/*Links*/
a{
    text-decoration: none;
    font-weight: bold;
}
#github{
    color: black;
    text-align: center;
}



/*Images*/
img {
    width: 200px;
    height: 200px;
    padding: 5px;
    background: black;
}

/*List style*/
ol{
    list-style-type: none;
}

/* Small screen layout: stack the assignments vertically*/
@media (max-width: 800px) {
  .assignmentlist{
    flex-direction: column;   
    align-items: center;      
    padding: 20px;            
  }

  .assignments{
    width: 100%;              
    max-width: 500px;         
  }


  img{
    width: 100%;              
    height: auto;             
  }


  ol.assignmentlist{
    padding-left: 0;
    margin: 0;
  }
}
