/*Main Content*/
#content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 95%;
    padding: 2%;
    border-radius: 5px;
    margin: auto;
}

/*Body*/
body{
    background-color: black;
    background-image: url(images/blacknwhite.webp);
    background-size: cover;
    padding: 2%;
}

/*Text*/
.description{
    color: black;
}

/* Headers */
.headers{
    color: black;
    text-align: center;
}

/*ASSIGNMENTS*/

.assignmentlist{
    list-style-type: none;
    background: black;
    padding: 20px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.assignments{
    flex: 1 1 250px; 
    max-width: 300px;
    padding: 20px;
    text-align: center;

    background: white;
    color: black;
}

.assignments li{
    padding: 10px;
}

.assignmentlist li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/*PROJECT*/

#projectlist{
    list-style-type: none;
    background: black;
    padding: 20px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.projects{
    flex: 1 1 250px;
    max-width: 300px;
    padding: 20px;
    text-align: center;

    background: white;
    color: black;
}

.projects li{
    padding: 10px;
}

.projects a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/*LINKS*/

a{
    text-decoration: none;
    font-weight: bold;
}

#github{
    color: black;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

/*IMAGES*/

img{
    max-width: 100%;
    height: auto;
    padding: 5px;
    background: black;
}

/*SMALL SCREEN LAYOUT*/

@media (max-width: 800px) {
    .assignmentlist,
    #projectlist{
        justify-content: center;
    }

    .assignments,
    .projects{
        max-width: 90%;
    }
}
