#content{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width:95%;
    padding:2%;
    border-radius: 5px;
    margin: auto;
    
}
/*Head */
head{
    text-decoration-color: azure;
}

/* Body */
body{
    background-color: black;
    text-decoration-color: azure;
    background-image: url(images/blacknwhite.webp);
    background-size: cover;
    padding: 2%;
}


/*Headers*/
.headers{
    color: black;
}

.assignmentlist{
    color: black
}

.description{
    color: black;
}

/*Links*/
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
