/* Main Structure */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

#content{
    background-color: antiquewhite;
    border: 10px;
    padding: 2%;
    width: 80%;
    margin: auto; /*Centers*/
}

#main-header{
    background: whitesmoke;
}

#main-content{

}

#main-footer{

}

/*Gallery*/
#gallery section{
    background:lightgray;
    padding:5px;
    border-radius:5px;
    margin:5px;

}

#gallery section h3{
    text-align: center;
}

/* Navigation */
#main-nav{
    
}

#main-nav ul{
    padding-left: 0;
}

#main-nav li{
    list-style-type: none;
    background: white;
    padding: 5px;
    border-bottom: 1px solid;
}

#main-nav a{
    text-decoration: none;
}
/* Typography */

#main-header h1{
    text-align: center;
    padding-top: 2%;
}

/*Larger Devices*/
@media (min-width: 768px) {
    .columns{
        display: flex;
    }

    .one{
        flex:1;
    }

    .two{
        flex:2;
    }

    .three{
        flex:3;
    }

    .four{
        flex:4;
    }

    #main-nav ul {
        display:flex;
    }

    #main-nav li{
        background: transparent;
        flex:1;
    }

    #main-nav a{
        color: darkslateblue;
        border-bottom: 1px solid transparent;
    }

    #main-nav a:hover {
        border-bottom: 1px solid darkslateblue;
    }
    
}