/* Main Structure */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

#content{
    background-color: antiquewhite;
    border: 10px;
    padding: 2%;
    width: 80%;
    margin: auto; /*Centers*/
}

#main-header{
    background: whitesmoke;
    position: relative;
}

#main-content{

}

#main-footer{

}

/*Links*/

/*Header*/
#logo{
    margin: 10px;
}

#login-nav{
    position: absolute;
    right: 5%;
    top: 5%;
}

#login-nav li:after{
    content:"|"
}

/*Images*/
img{
    max-width: 100%;
}

/*Square*/
.area{
    position: relative;
}

.arrow{
    font-size: 1.5em;
    color: white;
    position: absolute;
    top: 35%;
}

#prev{
    left:5%;
}

#next {
    right:5%;
}

#slide-desc{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    padding: 5px;
    max-width: 40%;
}

#square{
    width: 100px;
    height: 100px;
    background: aqua;
    
    /*Position absolute is in respect to the upper left hand corner */
    position:absolute;
    top: 50px;
    left: 50px;
   
}
/*Area*/
.area {
    background: grey;
}

/*Gallery*/
#gallery section{
    background:lightgray;
    padding:5px;
    border-radius:5px;
    margin:5px;

}

#gallery section h3{
    text-align: center;
}

/* Navigation */
nav{
    
}

nav ul{
    padding-left: 0;
}

nav li{
    list-style-type: none;
    background: white;
    padding: 5px;
    border-bottom: 1px solid;
}
nav a{
    text-decoration: none;
}
/* Typography */

#main-header h1{
    text-align: center;
    padding-top: 2%;
}

/*Larger Devices*/
@media (min-width: 768px) {
    #main-content{
        justify-content: space-between;
        gap: 10px;
    }

    .columns{
        display: flex;
    }

    .one{
        flex:1;
    }

    .two{
        flex:2;
    }

    .three{
        flex:3;
    }

    .four{
        flex:4;
    }

    nav ul {
        display:flex;
    }

    nav li{
        background: transparent;
        flex:1;
    }

    nav a{
        color: darkslateblue;
        border-bottom: 1px solid transparent;
    }

    nav a:hover {
        border-bottom: 1px solid darkslateblue;
    }
    
}